.App {
  text-align: center;
}

/* Navbar */

ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* padding: 8px; */
}

nav,
.nav-list {
  background-color: rgba(0, 0, 0, 0.85);
  color: #bec5d2;
  font-weight: 600;
  font-size: 1rem;
  /* font-weight: bold; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* height: 10vh; */
  justify-content: flex-start;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.vr-line {
  border-left: 1px solid rgb(115, 115, 115);
  height: 35px;
  margin-left: 20px;
  margin-right: 0;
}

.nav-center {
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px 30px 0px 30px; */
}

.nav-center > li {
  padding-right: 30px;
}

.nav-right {
  padding-right: 50px;
}

.nav-right > li {
  padding-right: 25px;
}

.logo {
  max-height: 6vh;
  width: auto;
  padding: 0px 10px 0px 50px;
}

.btn-connect {
  font-size: 1rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-connect:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-connect 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-connect {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-connect:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}