.category_card {
  max-width: 550px;
  margin: 25px ;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  /* background: #fff; */
  box-sizing: border-box;
}

.category_card * {
  margin: 0 auto;
  /* border: 1px solid red; */
}

.card_image {
  max-width: 200px;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  /* color: #fff; */
  color: #addcff;
  margin: 15px auto;
  text-align: center;
}
.card_content {
  margin: 15px auto;
  font-size: 20px;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 1.7;
  /* color: #89bfe8; */
  color: #addcff;
  /* margin-bottom: 2.5rem; */
}

.card_border {
  display: block;
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 0 1px 5px #6c6fd6;  */
  box-shadow: 0px 0px 0px 2px #6bb0ff;

  /* box-shadow: 0 1px 5px linear-gradient(to top left, #f8acff -5%, #696eff 100% ); */
  /* -webkit-box-shadow: 18px 18px 4px -4px rgba(58, 235, 255, 0.75);
  -moz-box-shadow: 18px 18px 4px -4px rgba(58, 235, 255, 0.75);
  box-shadow: 8px 8px 4px -4px rgba(116, 179, 255, 0.75); */
}

/* .border {
  --angle: 0deg;
  border: 3px solid;
  margin: 20px;
  border-image: linear-gradient(var(--angle), #64a9f8, #d073ff, #a3e3f8) 1;
  animation: 5s rotate linear infinite;
} 

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} */
/* 
@media (max-width: 480px) {
  .card {
    margin: 30px;
    text-align: center;
  }

  .content {
    flex-direction: column-reverse;
  }

  .image {
    max-width: 250px;
    margin: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .card {
    margin: 30px;
    text-align: center;
  }

  .content {
    flex-direction: column-reverse;
  }

  .image {
    max-width: 250px;
    margin: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    margin: 30px;
    text-align: center;
  }

  .image {
    max-width: 250px;
    margin: 30px;
  }

  .content {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .card {
    margin: 30px;
    text-align: center;
  }
  .image {
    max-width: 250px;
    margin: 30px;
  }
}

@media (min-width: 1281px) {
  .card {
    text-align: center;
  }

  .content {
    align-items: center;
  }
} */
