		
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #2f3044;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

		
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
		
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;	
}

		
.d-flex {
	display: flex!important;
}		
.flex-column {
    flex-direction: column!important;
}
		

.bgi-position-y-top {
    background-position-y: top;
}
.bgi-position-x-center {
    background-position-x: center;
}
.bgi-no-repeat {
    background-repeat: no-repeat;
}
.bgi-size-cover {
    background-size: cover;
}
		
		
.h-150px {
    height: 150px!important;
}
		

		

	
		
.font-size-4 {
    font-size: 1.8rem!important;
}
.font-size-3 {
    font-size: 1.4rem!important;
}



.block-dark {
	background-color: #0d151e;
}
.dark-top-curved-bg {
	background-image: url('https://keenthemes.com/images/misc/curve-dark-top-bg.png');
}		

.text-muted, .text-muted i {
	color: #b5b5c3!important;
}		
.text-dark-60 {
	color: #7e8299!important;
}		
.page_speed_560018307 {
	border-top: 1px solid #152231;
}		
.h-20px {
	height: 20px!important;
}		
.mr-2, .mx-2 {
	margin-right: 0.5rem!important;
}
.rounded-sm {
	border-radius: 0.25rem!important;
}	

.w-20px {
	width: 20px!important;
}	
.mr-4, .mx-4 {
    margin-right: 1rem!important;
}
		
		

@media (min-width: 992px)
{
	.col-lg {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}	
	.pb-lg-3, .py-lg-3 {
    	padding-bottom: 0.75rem!important;
	}	
	.h-lg-225px {
		height: 225px!important;
	}	
}