.plan_card {
  max-width: 350px;
  height: auto;
  margin: 25px;
  box-sizing: border-box;
  text-align: center;
}


.shadow {
  display: block;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px #64a9f8;
}

.card_img {
  margin: 10px auto;
  max-width: 100px;
}

.card_content {
  width: 280px;
  padding: 30px;
  justify-content: center;
  box-shadow: 0 1px 15px #00000099;
  border-radius: 15px;
}

.card_content:hover {
  overflow: hidden;
  cursor: pointer;
}

.plan_benefits {
  text-align: center;
}

.plan_benefits ul {
  margin: 10px;
  list-style: none;
}

