.container {
  margin: 20px;
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.main {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.banner {
  /* display: flex; */
  margin: 10px;
  max-width: 400px;
}

.title {
  display: inline-block;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  animation: background 10s linear infinite;
  background: linear-gradient(
    60deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  display: inline-block;
  margin: 20px auto;
  font-weight: 700;
  font-size: 25px;
  max-width: 50ch;
  text-transform: uppercase;
  text-align: center;
  animation: background 10s linear infinite;
  background: linear-gradient(
    120deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_heading {
  display: inline-block;
  margin: 20px auto;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  animation: background 10s linear infinite;
  background: linear-gradient(
    60deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.category, .plans  {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

}

.categories_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* plan section */

.plan_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plan_card {
  max-width: 350px;
  height: auto;
  margin: 25px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  /* background: #fff; */
  box-sizing: border-box;
  text-align: center;
}


.shadow {
  display: block;
  padding: 20px;
  border-radius: 15px;
  /* box-shadow: 0 1px 5px #6c6fd6;  */
  box-shadow: 0px 0px 0px 2px #64a9f8;
}

.card_img {
  margin: 10px auto;
  max-width: 100px;
}

.card_content * {
}

.card_content {
  width: 280px;
  padding: 30px;
  justify-content: center;
  box-shadow: 0 1px 15px #00000099;
  border-radius: 15px;
}

.card_content:hover {
  overflow: hidden;
  cursor: pointer;
}

.plan_benefits {
  text-align: center;
}

.plan_benefits ul {
  margin: 10px;
  list-style: decimal;
}