.main {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.item{
  margin: 10px;
  max-width: 770px;
  min-width: 350px;
  height: auto;
  min-height: auto;

}


/* .container {
  display: flex;
  justify-content: center; */
  /* flex-wrap: wrap; */
  /* background: #bbb; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  /* flex-direction: column; */
/* } */

/* .item{ */
  /* width: 3000px; */
  /* max-width: 800px;
  height: auto;
  margin: 16px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  /* background: #fff; */
  /* box-sizing: border-box; */
  /* margin: 10px; */
/* } */


.heading {
  display: inline-block;
  margin: 0 auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 160px;
  animation: background 10s linear infinite;
  background: linear-gradient(
    60deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subHeading {
  display: block;
  max-width: 750px;
  text-align: center;
}

.tagline {
  display: inline-block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  animation: background 10s linear infinite;
  background: linear-gradient(
    120deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  margin-top: 35px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  height: 48px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.btn:hover {
  color: #000;
  transition: 0.2s;
}


@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media screen and (max-width: 892px) {
  .heading {
    font-size: 160px;
  }

  .subHeading {
    max-width: 600px;
  }

  .tagline {
    font-size: 48px;
  }
}


@media screen and (max-width: 480px) {
  .heading {
    font-size: 100px;
    margin: 25px;
  }

  .subHeading {
    max-width: 360px;
  }

  .tagline {
    font-size: 28px;
  }
}


.explore {
  display: flex;
  flex-wrap: wrap;
}

.profiles {
  /* max-width: 50%; */
}

/* .stats {
  position: fixed;
  right: 10px;
  max-width: 30%;
} */